<!DOCTYPE html>
<html>
        <head>
            {% block head %}
                    <meta charset="utf-8" />
                    <meta name="viewport" content="width=device-width, initial-scale=1" />
                    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
                <title>Times News{% block title %}{% endblock %}</title>
            {% endblock %}
        </head>
        <body>
            {% block header %}
                <header id="header">
                    <div class="inner">
                        <a href="{{ path('index') }}" class="logo"><strong>Times News</strong></a>
                        <nav id="nav">
                            <a href="{{ path('index') }}">Inicio</a>
                        </nav>
                        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                    </div>
                </header>
            {% endblock %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>

            {% block footer %}
                <footer id="footer">
                    <div class="inner">

                    </div>
                </footer>
            {% endblock %}
            {% block javascript %}
                    <script src="{{ asset('js/jquery.min.js') }}"></script>
                    <script src="{{ asset('js/skel.min.js') }}"></script>
                    <script src="{{ asset('js/util.js') }}"></script>
                    <script src="{{ asset('js/main.js') }}"></script>
            {% endblock %}
        </body>
</html>